.section_card {
    width: 100%;
    height: 120vh;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 6em;
    background-color: #FEFAF6;
}

.info_card {
    grid-column: 1 / 2;
    padding: 50px;
}

.title_cardPage {
    font-size: 36px;
    margin-top: 40px;
}

.img_card {
    grid-column: 2 / 2;
    margin-top: 150px;

}

.ContainerSelectCards {
    display: flex;
    justify-content: center;
    gap: 3em;
    margin-bottom: 70px;
}

@media (min-width: 768px) {
    .section_card {
        grid-template-columns: repeat(2, 1fr);
    }
}