/* @font-face {
    font-family: 'Alegreya Sans';
    src: url('./fonts/AlegreyaSans-Regular.ttf');
} */

.app {
    font-family: 'Alegreya Sans';
    background-color: white;
}

:root {
    --Color-title: rgb(0, 0, 0);
    --Color-subtitle: black;

    /* ------ container Select Cards ------- */
    --Color-container1: #EADBC8;
    --Color-container2: #D9C0A2;
    --Color-container3: #112C57;

}