.login_container {
  background: linear-gradient(to bottom, #eb1919, #000000f8);
  padding: 30px;
  border-radius: 20px;
  color: white;
}

.login_container h1 {
  color: white;
  padding-bottom: 24px;
  font-size: 16px;
  text-transform: none;
  font-weight: 500;
  Line-height:19.2px;
}

.group{
  padding-bottom: 12px;
  Line-height:19.2px;

}

.title_input {
  font-size: 12px;
  color: #FFFFFF;
  text-transform: none;
  font-weight: 700;
  Line-height:19.2px;

} 

.login_email,
.login_password {
  background-color: transparent;
  padding: 9px 0;
  color: rgba(255, 255, 255, 0.88);
  Line-height:19.2px;

}

.login_email:focus,
.login_email:active,
.login_password:focus,
.login_password:active  {
  background-color: transparent;
  color: #FFFFFF;
}

.login_password::placeholder,
.login_email::placeholder {
  color: #ffffff83;
  font-size: 16px;
}


.d-inline-block {
  color: rgba(255, 255, 255, 0.577);
}

hr {
  height: 2px;
  margin-top: -10px;
  background-color: white;
}

.btn_form {
  padding: 10px;
  border-radius: 20px;
  background: linear-gradient(to left, #1917b7 30%, #191d3bba);
}

.sign {
  margin-right: 15%;
}

.sign h8 {
  color: rgb(52, 106, 252);
}


.sign {
  color: #2656d0;
}